.navbar-main{
            margin-top: 25px;
            margin-bottom: 25px;
            box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
            height: 100px;
            border-radius: 5px;
            
        }

.navbar-search{
    background-color: var(--main);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
    border-radius: 5px;

    

}

.search-bar{
    border: 2px solid var(--sec);
    width: 55vw;
}

